*
{
    margin:0;
    padding:0;
    box-sizeing: border-box;    
}
body 
{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

.header
{
    background-color:#003366;
    display:flex;
    flex-direction: row;
    gap:50px
}

.header_text
{
    width:80vw;
    margin:auto;
    font-size: 50px;
    text-transform:uppercase;
    letter-spacing:3px;
    color:#fff;
    text-align:center;
}
.header_img
{
    margin: 1%;    
}

.footer
{
  position:absolute;
  bottom:0;
  padding:2.5%;
  text-align:center;
  width:100vw;
  background-color:#6666FF;
  font-weight:bold;
}

.list
{
    margin:20px auto;   
    list-style:none; 
}
.link
{
    text-decoration:none;    
    color:#000;
    transistion: .3s all ease
}
.link:hover
{
    color:#6666FF;    
}
.navigation
{
    display:flex;
    flex-direction:column;
    align-items:center;
    border-right:1px solid black;    
    height:100vh;
    width:15vw;
    text-align:center;
}
.main_content
{
    display:flex;
    flex-direction:row;
        
}
.nav-bar
{
    margin-top: 20px;    
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}